#include <winver.h>
#include "tempctl.h"
#define TC_STR2(x) #x
#define TC_STR(x) TC_STR2(x)
#define TC_VERSION_STR TC_STR(TC_VERSION_MAJOR) "." TC_STR(TC_VERSION_MINOR) "." TC_STR(TC_VERSION_PATCH)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    TC_VERSION_MAJOR,TC_VERSION_MINOR,TC_VERSION_PATCH,0
 PRODUCTVERSION TC_VERSION_MAJOR,TC_VERSION_MINOR,TC_VERSION_PATCH,0
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
 FILEFLAGS      0
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName",      "Roger Graves"
      VALUE "FileDescription",  "TempCtl - temperature controller for LabVIEW (signals in, signals out)"
      VALUE "FileVersion",      TC_VERSION_STR
      VALUE "InternalName",     "tempctl"
      VALUE "LegalCopyright",   "Copyright (c) 2026 Roger Graves. MIT License."
      VALUE "OriginalFilename", "tempctl.dll"
      VALUE "ProductName",      "tempctl"
      VALUE "ProductVersion",   TC_VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
